{{set . "title" "ตั้งค่าผู้ใช้งาน"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader">
  <div class="col-sm-3" style="padding: 0px;">
    <ul class="nav bd-sidenav" style="padding-top: 20px;">
        <li class="active bd-sidenav-active">
          <a href="/setting/user">ตั้งค่าผู้ใช้งาน</a>
        </li>
        <li class="">
          <a href="/setting/security">ความปลอดภัย</a>
        </li>
    </ul>
  </div>
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header"> <h2 class="color-green">แก้ไขข้อมูลส่วนตัว</h2></div>
      <div class="col-sm-12">
        <p>แก้ไขข้อมูลส่วนตัวของผู้ไช้งาน เช่น ชื่อ นามสกุล</p>
      </div>
    </div>
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-5 name-header padding-left-no padding-right-no"><h2 class="color-green">ลืมรหัสผ่าน</h2></div>

    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
