  <div class="col-sm-12 varticle-header-box">
    <h1>การซื้อ-ขาย สินค้า</h1>
  </div>
  <div class="col-sm-3" style="padding: 0px;">
    <div class="container col-sm-12">
        <ul class="nav bd-sidenav" >
          <li class="active bd-sidenav-active" style="padding-top: 20px;font-size:20px">
                <a href="/searchproduct"><img src="/public/img/Search-48.png" width="30px"> ค้นหาสินค้า</a>
            </li>
          <p class="text-bold " style="font-size:20px">แสดงรายการสินค้า</p>
            <li class="active bd-sidenav-active">
                <a href="/sell/showproductcategory/ข้าว">ข้าว</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/ผลไม้">ผลไม้</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/พืชผัก">พืชผัก</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/พืชไร่">พืชไร่</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/พืชสวน">พืชสวน</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/สัตว์">สัตว์</a>
            </li>
            <li class="">
              <a href="/sell/showproductcategory/สินค้าอื่นๆ">สินค้าอื่นๆ</a>
            </li>
        </ul>
          {{ if .user}}
              {{if.kasetkorn}}
        <ul class="nav bd-sidenav" >
          <p class="text-bold " style="padding-top: 5px;font-size:20px">ประกาศขายสินค้า</p>
          
            <li class="">
                <a href="/listsellcrop">ขายสินค้าในแปลง</a>
            </li>
  
            <li class="">
                <a href="/sell">ขายสินค้าอื่น</a>
            </li>
            <li class="">
              <a href="/sell/managesell">จัดการสินค้า</a>
            </li>
        </ul>
        {{end}}
        {{end}}
 
    </div>
  </div>