  <div class="col-sm-12 varticle-header-box">
    <h1>การซื้อ-ขาย สินค้า</h1>
  </div>
  <div class="col-sm-3" style="padding: 0px;">
    <div class="container col-sm-12">
        <ul class="nav bd-sidenav" >
          <p class="text-bold " style="padding-top: 20px;font-size:20px">แสดงรายการสินค้า</p>
            <li class="active bd-sidenav-active">
                <a href="/sell/showproduct">ข้าว</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">ผลไม้</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">พืชผัก</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">พืชไร่</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">พืชสวน</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">สัตว์</a>
            </li>
            <li class="">
              <a href="/sell/showproduct">สินค้าอื่นๆ</a>
            </li>
        </ul>
        
        <ul class="nav bd-sidenav" >
          <p class="text-bold " style="padding-top: 5px;font-size:20px">ประกาศขายสินค้า</p>
            <li class="">
                <a href="/sell/showproduct">ขายสินค้า</a>
            </li>
            <li class="">
              <a href="/sell/managesell">จัดการสินค้า</a>
            </li>
        </ul>
 
    </div>
  </div>