<div class="col-sm-12 col-xs-12" id="chaokaset-preloader" style="background-color: white;position: absolute;height:100%;z-index: 1000">
  <img src="/public/img/chaokaset-logo.png" style="width: 200px;margin-top: 20%;background-color: white;" class="col-sm-offset-5 col-xs-offset-2">
</div>
<script>
$( document ).ready(function() {
  $( "#chaokaset-loader" ).hide();
  $( "#chaokaset-preloader" ).show();
});
$(window).load(function() {
  setTimeout(function(){
     $('#chaokaset-preloader').css('display','none');// or fade, css display however you'd like.
  }, 400);
  $( "#chaokaset-loader" ).fadeIn(1000);
});
</script>
