{{set . "title" "การซื้อ-ขาย สินค้า"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
 
  {{template "Templates/menuSell.html" .}}

  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
 
      <div class="col-sm-8 name-header"> 
        <h2 class="color-green">จัดการสินค้า</h2>
      </div>

          <div class="col-sm-12 container-box">
      <table class="table">
        <thead class="box-thead-show">
          <tr>
            <th width="10%">สถานะ</th>
            <th width="25%">ชื่อสินค้า</th>
            <th width="20%">วันเริ่มประกาศ</th>
            <th width="30%">วันหมดอายุ/ปิดการขาย</th>
            <th width="15%">ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">
          {{ range .data }}
          <tr>
            <td class="color-yellow">
              {{ if eq .Status 1}}
                <span class="status-ball bg-green" title="กำลังขาย"></span>
              {{end}}
              {{ if eq .Status 0}}
                <span class="status-ball bg-red" title="ปิดการขาย"></span>
              {{end}}
            </td>
            <td class="color-green"><a href="/sell/productdetail/{{.Sellid.Hex}}" class="name-crops">{{.Name}} </a></td>
            <td>{{.Start}}</td>
            <td>{{.Expire}}</td>
     
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                
                  <li><a href="/sell/editproduct/{{.Sellid.Hex}}">แก้ไขรายละเอียดสินค้า</a></li>
                  <li role="separator" class="divider"></li>
                  {{ if eq .Status 1}}
                    <li><a href="/sell/closeproduct/{{.Sellid.Hex}}" class="color-red">ปิดการขาย</a></li>
                  {{end}}
                  {{ if eq .Status 0}}
                    <li><a href="/sell/openproduct/{{.Sellid.Hex}}" class="color-green">เปิดการขาย</a></li>
                  {{end}}
                </ul>
              </div>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  
   



  
      
    </div>

  </div>
</div>
{{template "Templates/footer.html" .}}
