{{set . "title" "รายละเอียดสินค้า"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">

  {{template "Templates/menuSell.html" .}}

  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="row">
        <div class="col-sm-8">
          <h2 class="color-green">รายละเอียดสินค้า "{{.data.Name}}"</h2>
        </div>
        <div class="col-sm-4 text-right">
          {{ if eq .data.StatusLike 0}}
            มีคนชอบสินค้านี้ <b id="DivLike">{{.data.NumberOfLike}}</b> คน  <img src="/public/img/Dis Like Filled-32.png" width="40px" id="like">
          {{end}}
          {{ if eq .data.StatusLike 1}}
            มีคนชอบสินค้านี้ <b id="DivLike">{{.data.NumberOfLike}}</b> คน  <img src="/public/img/Like Filled-48.png" width="40px" id="like">
          {{end}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-5" style="padding-top:20px;">
          <img src="/public/uploads/{{.data.Pic}}" alt="..." width="100%">
        </div>
        <div class="col-sm-7" style="padding-top:20px;">
          <div class="row info-plant-show">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <fieldset class="form-group col-sm-12">
                    <label for=""><img src="/public/img/Carbohydrates-48.png" width="33px"> ชื่อสินค้า</label>
                    <p>{{.data.Name}}</p>
                  </fieldset>
                  <fieldset class="form-group col-sm-12">
                    <label for=""><img src="/public/img/Coins-48.png" width="30px"> ราคา</label>
                    <p>{{.data.Price}} บาท/{{.data.Unit}}</p>
                  </fieldset>
                  <fieldset class="form-group col-sm-12">
                    <label for=""><img src="/public/img/Geo-fence-48.png" width="30px"> ที่อยู่ของสินค้า</label>
                    <p>ต.แสนสุข อ.เมือง จ.ชลบุรี</p>
                  </fieldset>
                </div>
                <div class="col-sm-6">
                  <fieldset class="form-group col-sm-12">
                    <label for=""><img src="/public/img/View Details-48.png" width="28px"> รายละเอียดสินค้า</label>
                    <p>{{.data.Detail}}</p>
                  </fieldset>
                  <fieldset class="form-group col-sm-12">
                    <label for=""><img src="/public/img/User Menu Male-48.png" width="30px"> ติดต่อ</label>
                    <p>{{.data.Owner.Prefix}}{{.data.Owner.Name}}    {{.data.Owner.Lastname}}</p>
                    <p><img src="/public/img/Phone-48.png" width="15px" > {{.data.Owner.Tel}}</p>
                   
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 container-box-content">
      <h2 class="color-green">ความคิดเห็น</h2>
    <div id="updatecomment">
      {{ range .data.Comment  }}
        <div class="col-sm-12 container-box-content">
          <p class="text-bold">ความคิดเห็น</p>
          <br>
          <p>{{.Data}}</p>
          <p class="text-right" style="padding-top:15px;"><b>โดย</b> {{.Name}} <b>วันที่</b> {{.TimeCreate}}
        </div>
      {{end}}
    </div>
      <div class="col-sm-12 container-box-content">
        <div class="form-group">
          <label for="comment"><h2 class="color-blue">แสดงความคิดเห็น</h2></label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <p class="text-right" >
          <button type="button" class="btn bg-link" id="addcomment">เเสดงความคิดเห็น</button>
        <p/>
      </div>
    </div>
    <!--<div class="row">
    <div class="col-sm-8 container-box-content">
      <h2 class="color-green">ความคิดเห็น</h2>
      <div class="col-sm-12 container-box-content">
        <p class="text-bold">ความคิดเห็นที่ 1</p>
        <br>
        <p>5555555555555</p>
        <p class="text-right" style="padding-top:15px;"><b>โดย</b> นายสาริน  นามสกุล <b>วันที่</b> 11 พ.ค. 59 <b>เวลา</b> 13.00 น.<p/>
      </div>
      <div class="col-sm-12 container-box-content">
        <p class="text-bold">ความคิดเห็นที่ 2</p>
        <br>
        <p>5555555555555</p>
        <p class="text-right" style="padding-top:15px;"><b>โดย</b> นายสาริน  นามสกุล <b>วันที่</b> 11 พ.ค. 59 <b>เวลา</b> 13.00 น.<p/>
      </div>
      <div class="col-sm-12 container-box-content">
        <div class="form-group">
          <label for="comment"><h2 class="color-blue">แสดงความคิดเห็น</h2></label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <p class="text-right" >
          <button type="button" class="btn bg-link">เเสดงความคิดเห็น</button>
        <p/>
      </div>
    </div>
    <div class="col-sm-4 container-box" style="padding-top:45px;padding-left:40px">
      <h2 class="color-green">  สินค้าที่ใกล้เคียง</h2>
      <div class="col-sm-12 container-box-content">
        <div class="row">
          <div class="col-sm-12">
            <img src="/public/img/pic/rice2.jpg" alt="..." width="100%">
          </div>
          <div class="col-sm-12">
            <p class="text-bold color-blue" style="padding-top:20px;">ชื่อสินค้า</p>
            <p>ราคา</p>
            <p>ที่อยู่</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 container-box-content">
        <div class="row">
          <div class="col-sm-12">
            <img src="/public/img/pic/rice2.jpg" alt="..." width="100%">
          </div>
          <div class="col-sm-12">
            <p class="text-bold color-blue" style="padding-top:20px;">ชื่อสินค้า</p>
            <p>ราคา</p>
            <p>ที่อยู่</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 container-box-content">
        <div class="row">
          <div class="col-sm-12">
            <img src="/public/img/pic/rice2.jpg" alt="..." width="100%">
          </div>
          <div class="col-sm-12">
            <p class="text-bold color-blue" style="padding-top:20px;">ชื่อสินค้า</p>
            <p>ราคา</p>
            <p>ที่อยู่</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->


  </div>
</div>
<script>
  $("#addcomment").click(function(){
    //alert(5555555555555555555);
    var data = $("#comment").val();
    var Sell_id = "{{.data.Sellid.Hex}}";
    var User_id = "{{.idUser.Userid.Hex}}";
    if (data != ""){
      //alert("u = "+User_id);
      var api =  site_url+"/apiv1_0/addcomment/"+Sell_id+"/"+User_id+"/"+data;
      $.ajax({
        url:api,
        success:function(res){
          console.log(res);
          if(res == true){
            $("#comment").val("");
          }else{
            $("#comment").val(data);
          }
        },
        error:function(err){
        }
      });
    }else{
      alert('กรุณากรอกความคิดเห็น');
    }
    
  });

  $(document).ready(function(){  
    setInterval(function(){ // เขียนฟังก์ชัน javascript ให้ทำงานทุก ๆ 30 วินาที  
       // alert(55555555555555555);
        // 1 วินาที่ เท่า 1000  
        // คำสั่งที่ต้องการให้ทำงาน ทุก ๆ 3 วินาที 
        var Sell_id = "{{.data.Sellid.Hex}}";
        var User_id = "{{.idUser.Userid.Hex}}"; 
        var api = site_url+"/apiv1_0/detail/"+Sell_id+"/"+User_id;
        var i = "";
         $.ajax({ // ใช้ ajax ด้วย jQuery ดึงข้อมูลจากฐานข้อมูล  
                url: api, 
               // data:"sel_id="+"<?php echo $detail[0]['sel_id']?>", 
               // type:"POST",  
                success:function(res){  
                   //alert(55555555555555555);
                  if(res.SellData.Comment == ""){
                   // alert("55555555555555555555");
                    var html = '<div class="col-sm-12 container-box-content"><br><p>'+'ไม่มีความคิดเห็น'+'</p><p class="text-right" style="padding-top:15px;"></div>';
                    $("#updatecomment").html(html); 
                  }else{
                    for(x in res.SellData.Comment){
                      var html = '<div class="col-sm-12 container-box-content"><p class="text-bold">ความคิดเห็น</p><br><p>'+res.SellData.Comment[x].Data+'</p><p class="text-right" style="padding-top:15px;"><b>โดย   </b>'+res.SellData.Comment[x].Name+'<b>   วันที่</b>'+res.SellData.Comment[x].TimeCreate+'</div>';
                      //alert(res.SellData.Comment[x].Data);
                        i = i+html;
                        $("#updatecomment").html(i); 
                    }
                  }

                  
                }
        }).responseText;  
    },2000);      
  });

   $("#like").click(function(){
     // alert('555');
      var img = $("#like").attr("src");
      //alert(img);
      if(img == "/public/img/Dis Like Filled-32.png"){
        var Sell_id = "{{.data.Sellid.Hex}}";
        var User_id = "{{.idUser.Userid.Hex}}"; 
        var api = site_url+"/apiv1_0/like/"+Sell_id+"/"+User_id;
        $.ajax({ 
            url: api, 
            success:function(res){ 
              if(res == true){
                //alert("like แล้ว");
                var like = {{.NumberOfLike}}+1;
                $("#like").attr("src", "/public/img/Like Filled-48.png");
                $("#DivLike").html(like);
              }else{
                alert("like ไม่ได้");
              }
            }
        });
      }else{
        var Sell_id = "{{.data.Sellid.Hex}}";
        var User_id = "{{.idUser.Userid.Hex}}"; 
        var api = site_url+"/apiv1_0/unlike/"+Sell_id+"/"+User_id;
        $.ajax({ 
            url: api, 
            success:function(res){ 
              if(res == true){
                //alert("like แล้ว");
                var like = {{.NumberOfLike}}-1;
                if(like <= 0){
                  var like = 0;
                }
                $("#like").attr("src", "/public/img/Dis Like Filled-32.png");
                $("#DivLike").html(like);
              }else{
                alert("Unlike ไม่ได้");
              }
            }
        });
      }
           
   });

</script>
{{template "Templates/footer.html" .}}
