{{set . "title" "การซื้อ-ขาย สินค้า"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<style>
  .center-cropped {
  width: 100%;
  height: 170px;
  background-position: center center;
  background-repeat: no-repeat;
  }

  #cropped {
  width: 100%;
  height: 175px;
  background-position: center center;
 /* background-repeat: no-repeat;*/
}
</style>


<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">

  {{template "Templates/menuSell.html" .}}

  <!--<div class="col-sm-9 container-box"  ng-app="ChaokasetApp" ng-controller="searchShowProduct">-->
      <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="row">
      <div class="col-sm-7 name-header"> 
        <h2 class="color-green">รายการสินค้า "{{.Category}}"</h2>
      </div>
      <div class="col-sm-5 text-right" style="padding: 5px;">
          <!--<input type="text" name="SearchProduct" class="form-control" placeholder="ค้นหาสินค้า" ng-model="searchProduct">-->
          <!--<input type="text" name="SearchProduct" class="form-control" placeholder="ค้นหาสินค้า" ng-model="searchProduct">-->
          <button type="button" class="btn bg-submit" id="New" id="chaokaset-loader">ล่าสุด</button>
          <button type="button" class="btn bg-submit" id="Like" id="chaokaset-loader">ความนิยม</button>
          <button type="button" class="btn bg-submit" id="Distance" id="chaokaset-loader">ระยะทาง</button>
      </div>
      </div>

      </br>
        <div class="row" id="data">

        </div>
      
    </div>

  </div>
</div>

<script>
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(setLatong);
      } else { 
          alert("Geolocation is not supported by this browser.");
      }
  }

  function setLatong(position) {
    var Lat = position.coords.latitude;
    var Long = position.coords.longitude;
    //alert(Lat+"  "+Long);
    var api =  site_url+"/setLatLong/"+Lat+"/"+Long;
    //alert(api);
    $.ajax({
        url:api,
        success:function(res){
          alert("บันทึกพิกัดที่ "+Lat+","+Long);
          location.reload(); 
        },
       error:function(err){
       }
    });
  }

  $(document).ready(function(){
    var sessionLat = {{.Lat}}
    var sessionLong = {{.Long}}
    if(sessionLat == "" && sessionLong == ""){
      getLocation();
    }else{
      var i = "";
      var api =  site_url+"/apiv1_0/productCategory/"+{{.Category}}+"/"+{{.Lat}}+"/"+{{.Long}};
      $.ajax({
          url:api,
        success:function(res){
          if (res.SellData == ""){
             $("#data").html('<center><h2>ไม่มีรายการสินค้า</h2></center>');
          }else{
            for(x in res.SellData){
            //alert(res.SellData[x].Name);
              var Distance = numeral(res.SellData[x].Distance).format('0.00');
              var Price = numeral(res.SellData[x].Price).format('0,0');
              var html = '<div class="col-sm-6 col-md-4"><div class="thumbnail"><img id="cropped" src="/public/uploads/'+res.SellData[x].Pic+'"><div class="caption"><h2 class="color-blue">'+res.SellData[x].Name+'</h2><p  style="padding-top:10px;padding-bottom:10px"><img src="/public/img/Coins-48.png" width="30px"> '+Price+' บาท/'+res.SellData[x].Unit+'</p><p style="padding-bottom:15px"><img src="/public/img/Geo-fence-48.png" width="25px">     '+Distance+' กิโลเมตร</p><p style="padding-bottom:15px"><img src="/public/img/Like Filled-48.png" width="25px"> '+res.SellData[x].NumberOfLike+'</p><a  href="/sell/productdetail/'+res.SellData[x].Sellid+'"><button type="button" class="btn btn-success">รายละเอียดสินค้า</button></a></div></div></div>';
                i = i+html; 
              $("#data").html(i);
            }
          }
        },
        error:function(err){
        }
      });
    }
  });
  
  $("#Like").click(function(){
      var i = "";
      var api =  site_url+"/apiv1_0/productLikeCategory/"+{{.Category}}+"/"+{{.Lat}}+"/"+{{.Long}};
      $.ajax({
        url:api,
        success:function(res){
          if (res.SellData == ""){
             $("#data").html('<center><h2>ไม่มีรายการสินค้า</h2></center>');
          }else{
            for(x in res.SellData){
            //alert(res.SellData[x].Name);
              var Distance = numeral(res.SellData[x].Distance).format('0.00');
              var Price = numeral(res.SellData[x].Price).format('0,0');
              var html = '<div class="col-sm-6 col-md-4"><div class="thumbnail"><img id="cropped" src="/public/uploads/'+res.SellData[x].Pic+'"><div class="caption"><h2 class="color-blue">'+res.SellData[x].Name+'</h2><p  style="padding-top:10px;padding-bottom:10px"><img src="/public/img/Coins-48.png" width="30px"> '+Price+' บาท/'+res.SellData[x].Unit+'</p><p style="padding-bottom:15px"><img src="/public/img/Geo-fence-48.png" width="25px">     '+Distance+' กิโลเมตร</p><p style="padding-bottom:15px"><img src="/public/img/Like Filled-48.png" width="25px"> '+res.SellData[x].NumberOfLike+'</p><a  href="/sell/productdetail/'+res.SellData[x].Sellid+'"><button type="button" class="btn btn-success">รายละเอียดสินค้า</button></a></div></div></div>';
                i = i+html; 
              $("#data").html(i);
            }
          }
        },
        error:function(err){
        }
      });
    });
    
  $("#New").click(function(){
    var i = "";
    var api =  site_url+"/apiv1_0/productCategory/"+{{.Category}}+"/"+{{.Lat}}+"/"+{{.Long}};
    $.ajax({
      url:api,
      success:function(res){
        if (res.SellData == ""){
           $("#data").html('<center><h2>ไม่มีรายการสินค้า</h2></center>');
        }else{
          for(x in res.SellData){
            var Distance = numeral(res.SellData[x].Distance).format('0.00');
            var Price = numeral(res.SellData[x].Price).format('0,0');
            var html = '<div class="col-sm-6 col-md-4"><div class="thumbnail"><img id="cropped" src="/public/uploads/'+res.SellData[x].Pic+'"><div class="caption"><h2 class="color-blue">'+res.SellData[x].Name+'</h2><p  style="padding-top:10px;padding-bottom:10px"><img src="/public/img/Coins-48.png" width="30px"> '+Price+' บาท/'+res.SellData[x].Unit+'</p><p style="padding-bottom:15px"><img src="/public/img/Geo-fence-48.png" width="25px">     '+Distance+' กิโลเมตร</p><p style="padding-bottom:15px"><img src="/public/img/Like Filled-48.png" width="25px"> '+res.SellData[x].NumberOfLike+'</p><a  href="/sell/productdetail/'+res.SellData[x].Sellid+'"><button type="button" class="btn btn-success">รายละเอียดสินค้า</button></a></div></div></div>';
              i = i+html; 
            $("#data").html(i);
          }
        }
      },
      error:function(err){
      }
    });
  });

  $("#Distance").click(function(){
    var i = "";
    var api =  site_url+"/apiv1_0/productDistanceCategory/"+{{.Category}}+"/"+{{.Lat}}+"/"+{{.Long}};
    $.ajax({
        url:api,
      success:function(res){
        if (res.SellData == ""){
           $("#data").html('<center><h2>ไม่มีรายการสินค้า</h2></center>');
        }else{
          for(x in res.SellData){
            var Distance = numeral(res.SellData[x].Distance).format('0.00');
            var Price = numeral(res.SellData[x].Price).format('0,0');
            var html = '<div class="col-sm-6 col-md-4"><div class="thumbnail"><img id="cropped" src="/public/uploads/'+res.SellData[x].Pic+'"><div class="caption"><h2 class="color-blue">'+res.SellData[x].Name+'</h2><p  style="padding-top:10px;padding-bottom:10px"><img src="/public/img/Coins-48.png" width="30px"> '+Price+' บาท/'+res.SellData[x].Unit+'</p><p style="padding-bottom:15px"><img src="/public/img/Geo-fence-48.png" width="25px">     '+Distance+' กิโลเมตร</p><p style="padding-bottom:15px"><img src="/public/img/Like Filled-48.png" width="25px"> '+res.SellData[x].NumberOfLike+'</p><a  href="/sell/productdetail/'+res.SellData[x].Sellid+'"><button type="button" class="btn btn-success">รายละเอียดสินค้า</button></a></div></div></div>';
              i = i+html; 
            $("#data").html(i);
          }
        }
      },
      error:function(err){
      }
    });
  });

</script>
{{template "Templates/footer.html" .}}
