{{set . "title" "ขาย สินค้าอื่น"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}


<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
 
  {{template "Templates/menuSell.html" .}}

  <div class="col-sm-9">
    <div class="col-sm-12 container-box-content" >
      <h2 class="color-green">ประกาศขายสินค้า "แปลง {{.data.CropName}}"</h2>
      </br>
      <form method="post" action="{{url "Sell.PostSellCrop"}}" enctype="multipart/form-data">
      <div class="form-group">
          <label for="">ประเภทสินค้า</label>
          <input class="form-control" type="text" value="ข้าว" name="Category" disabled >
      </div>
      <div class="form-group">
        <label for="">ชื่อสินค้า</label>
        <input type="text" class="form-control" placeholder="กรอกชื่อสินค้า เช่น ข้าวหอมมะลิ"  value="{{.data.Plant}} {{.data.Seed}}" name="Name">
      </div>
      <div class="row">
        <div  class="col-sm-6">
          <label for="">ราคา (หน่วยเป็นบาท)</label>
          <input type="text" class="form-control" placeholder="กรอกราคาหน่วยเป็นบาท" value="{{.data.Price}}" value="{{.data.Price}}" name="Price"> 
        </div>

        <div  class="col-sm-6">
          <label for="">หน่วยสินค้าที่ขาย</label>
          <input type="text" class="form-control" placeholder="เช่น กิโลกรัม ผล โหล ลัง" value="กิโลกรัม" name="Unit" disabled> 
        </div>
      </div>
      
      <div class="form-group" style="padding-top:15px;">
        <label for="">รูปสินค้า</label>
        <input type="file" accept="image/png" name="Pic" required>

      </div>

      <div class="form-group">
        <label for="">รายละเอียดสินค้า</label>
        <textarea class="form-control" rows="5" id="" placeholder="กรอกรายละเอียดสินค้า เช่น สี ขนาด" name="Detail" required></textarea>
        <span class="error">{{.Detail.Error}}</span>
      </div>

      <div class="form-group">
        <label for="">วันหมดอายุ/วันปิดการขาย</label>
        <input type="date" class="form-control" name="Expire"> 
      </div>

     
     <!-- {{with $field := field "sell.Address" .}}
       <div class="form-group">
          <label for="">ที่อยู่ของสินค้า</label>
        <div class="form-group">
          <input type="radio" name="{{$field.Name}}">จุดที่ยืนอยู่
          <input type="radio" name="{{$field.Name}}">จุดอื่นๆ
        </div>
          <span class="error">{{$field.Error}}</span>
        </div>
       {{end}}-->
      <div class="form-group">
        <select class="form-control" id="sel1" name="">
            <option value="ข้าว">ข้าว</option>
        </select>
      </div>

      <p class="text-right" >
        <button type="submit" class="btn bg-link">ขายสินค้า</button>
      <p/>
  </div>
  </form>
</div>



{{template "Templates/footer.html" .}}
