{{set . "title" "แสดงพืช"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div ng-app="ChaokasetApp" ng-controller="searchShowPlant">
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h2 class="color-green">แก้ไขพืช</h2>
     </div>
     <div class="modal-body">
       <div class="row">
       <div class="col-sm-12 container-box">
         <div class="col-sm-12 container-box-content" >
           <form ng-submit="EditSubmit()" >
             <input type="hidden" name="name" ng-model="idseedng">
             <div class="info-plant-show">
               <div class="form-grop col-md-12" style="padding: 0px;">
                 {{with $field := field "plant.PlantName" .}}
                 <div class="form-group col-md-12 padding-left-no padding-right-no">
                   <label>ชื่อพืช</label>
                   <input type="text" class="form-control" placeholder="กรอกชื่อพืช" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="editplantname">
                   <span class="error">{{$field.Error}}</span>
                 </div>
                 {{end}}
               </div>
             </div>
         </div>
       </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="submit" class="btn btn-success">บันทึก</button>
       <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
       </form>
     </div>
   </div>
 </div>
</div>
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>แสดงพืช</h1>
  </div>
  <div class="col-sm-12 container-box" style="margin-top: 20px;">
    <div class="col-sm-2" style="padding: 0px;">
      <button type="button" name="button" class="btn btn-success" style="width: 90%;" onclick="javascript:location.href='/plant/addplant'">เพิ่มพืช</button>
    </div>
    <div class="col-sm-10" style="padding: 0px;">
      <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหาพืช" ng-model="searchPlant">
    </div>
    <table class="table col-md-12">
      <thead class="box-thead-show">
        <tr>
          <th width="60%">ชื่อพืช</th>
          <!--<th style="text-align: center;">จำนวนผู้ปลูก</th>-->
          <th width="15%">ตัวเลือก</th>
        </tr>
      </thead>
      <tbody class="box-tbody-show">
        <tr ng-repeat="plant in filterPlans  = (plants | filter:searchPlant)">
          <td ng-bind-html="plant.PlantName | searchfilter:searchPlant"></td>
          <!--<td ng-bind-html="plant.Used | searchfilter:searchPlant"></td> -->
          <!--<td style="text-align: center;">
            3
          </td>-->
          <td class="color-green">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
              </button>
              <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                <li><a data-toggle="modal" data-target="#myModal">รายละเอียด</a></li>
                <li><a ng-click="EditModal(plant.PlantId)">แก้ไขรายการ</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="RemovePlant(plant.PlantId,$index)" class="color-red">ลบรายการ</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr ng-show="!filterPlans.length" style="text-align: center;">
            <td colspan="6">ไม่มีข้อมูล</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', ['ngSanitize']);
  app.controller('searchShowPlant', function($scope, $http) {
      $http.get(site_url+"/apiv1_0/plants/0")
      .then(function(response) {
        $scope.plants = response.data;
      });
      $scope.EditModal = function(idedit) { //โชแก้ไข
        $http.get(site_url+"/apiv1_0/getoneplant/"+idedit)
        .then(function(response) {
          console.log(response);
          $scope.editplantname = response.data.PlantName;
          $scope.idplant = idedit;
        });
        $('#EditModal').modal('show');
      }
      $scope.EditSubmit = function() {
        $http({
          method: 'POST',
          url: site_url+"/apiv1_0/editplant/"+$scope.idplant+"/"+$scope.editplantname
        }).then(function(response) {
          $http.get(site_url+"/apiv1_0/plants/0")
          .then(function(response) {
            $scope.plants = response.data;
          });
          $('#EditModal').modal('hide');
        },function(response) {
          //ผิดพลาด
      });
      }
      $scope.RemovePlant = function(removeid,at) {
        $scope.plants.splice(at, 1);
        $http({
          method: 'POST',
          url: site_url+"/apiv1_0/removeplant/"+removeid
        }).then(function(response) {
        },function(response) {
      });
      }
  })
  .filter('searchfilter', function() {
        return function (input, query) {
            if(query == ""){
            return input;
          }else{
            return input.replace(RegExp('('+ query + ')', 'g'), '<span class="semetic-value">$1</span>');
          }
        }
  });
  //Modal Script
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
</script>
{{template "Templates/footer.html" .}}
