.bg-green {
  background-color: #2ecc71; }

.bg-blue {
  background-color: #19B5FE; }

.bg-yellow {
  background-color: #FFB200; }

.bg-red {
  background-color: #e74c3c; }

.bg-pink {
  background-color: #EA4C89; }

.example {
  padding: 30px;
  background-color: #F1F1F1;
  border-radius: 5px;
  margin-top: 10px; }

.margin-example {
  margin-top: 30px; }

.padding-left-no {
  padding-left: 0px; }

.padding-right-no {
  padding-right: 0px; }

@media (max-width: 768px) {
  .padding-left-no {
    padding-left: 0px;
    padding-right: 0px; }

  .padding-right-no {
    padding-left: 0px;
    padding-right: 0px; } }
h1, h2, h3, h4, p {
  color: black; }

.color-green {
  color: #2ecc71; }

.color-blue {
  color: #05B2D2; }

.color-white {
  color: white; }

.text-underline {
  text-decoration: underline; }

.text-bold {
  font-weight: 700; }

.text-italic {
  font-style: italic; }

* {
  font-family: 'Kanit', sans-serif; }

h1, h2, h3 {
  font-family: 'Kanit', sans-serif; }

.nav-brand-chaokaset {
  padding: 0px 15px; }
  .nav-brand-chaokaset img {
    height: 0px; }

@media (max-width: 990px) {
  .nav-brand-chaokaset {
    padding: 0px 20px; }
    .nav-brand-chaokaset img {
      height: 64px; }

  .nav-content {
    margin: 0px -15px; } }
@media (min-width: 992px) {
  .nav-brand-chaokaset img {
    height: 84px; }

  .chaokaset-nav {
    background-color: white;
    border-color: #FFFFFF;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    padding: 0px 45px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222; }
    .chaokaset-nav .nav-content > li > a {
      padding-top: 29px;
      padding-bottom: 23px;
      font-weight: 400; }
      .chaokaset-nav .nav-content > li > a:hover, .chaokaset-nav .nav-content > li > a:focus {
        color: #2ecc71 !important;
        outline: none;
        background-color: #fff !important; }
    .chaokaset-nav .nav-content-right > li > a {
      padding-top: 29px;
      padding-bottom: 23px;
      font-weight: 400; }
      .chaokaset-nav .nav-content-right > li > a:hover, .chaokaset-nav .nav-content-right > li > a:focus {
        color: #2ecc71 !important;
        outline: 0;
        background-color: white !important; } }
@media (max-width: 990px) {
  .chaokaset-btn-border {
    background-color: #F8F8F8;
    color: #777;
    margin: 10px 10px;
    border: 0px;
    font-weight: 700; }
    .chaokaset-btn-border:hover {
      color: #2ecc71; } }
@media (min-width: 992px) {
  .chaokaset-btn-border {
    margin-top: 13px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-weight: 700; }
    .chaokaset-btn-border:hover {
      color: #fff;
      outline: 0; }

  .btn-style-one {
    border-radius: 3em;
    border-color: #05B2D2;
    color: #05B2D2;
    background-image: linear-gradient(45deg, #05B2D2 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out; }
    .btn-style-one:hover {
      background-position: 0; }
    .btn-style-one:focus {
      outline: none; }

  .btn-style-two {
    border-color: #2ecc71;
    color: #2ecc71;
    background-image: linear-gradient(45deg, #2ecc71 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out; }
    .btn-style-two:hover {
      background-position: 0; }
    .btn-style-two:focus {
      outline: none; } }
.chaokaset-green-video {
  width: 100%;
  height: 100%;
  background-color: green; }

.chaokaset-main-search {
  width: 100%;
  height: 60px; }
  .chaokaset-main-search .search-plant {
    font-weight: 500;
    border-radius: 10px;
    color: #676767;
    background-color: white;
    outline: none;
    border-radius: 10px;
    border: 5px;
    border-color: transparent; }
    .chaokaset-main-search .search-plant:hover {
      outline: none;
      border-radius: 10px;
      border: 5px solid;
      border-color: grey; }
    .chaokaset-main-search .search-plant:focus {
      outline: none;
      border-radius: 10px;
      border: 5px solid;
      border-color: #569FFF; }

.chaokaset-main-button-search {
  margin-top: 20px;
  width: 100%;
  height: 50px; }
  .chaokaset-main-button-search .button-search {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    font-weight: 500; }
    .chaokaset-main-button-search .button-search:hover {
      background-color: white;
      color: #2ecc71;
      outline: none;
      border: 4px solid;
      border-color: #2ecc71; }

.chaokaset-slide-container {
  background-color: #fff;
  height: 100%;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px; }
  .chaokaset-slide-container .preview-showname-rice h1 {
    font-weight: 500;
    font-size: 4em;
    color: black;
    text-align: left; }
  .chaokaset-slide-container .preview-image {
    padding: 40px;
    height: 85%;
    background-color: #fff; }
    .chaokaset-slide-container .preview-image img {
      width: 100%; }
  .chaokaset-slide-container .preview-content {
    height: 100%;
    background-color: #fff; }
    .chaokaset-slide-container .preview-content .preview-content-contain {
      padding: 10px 0px;
      max-height: 60%;
      overflow-y: hidden; }
      .chaokaset-slide-container .preview-content .preview-content-contain h1 {
        width: 100%;
        color: black;
        font-size: 2.5em;
        font-weight: 500;
        text-align: left; }
      .chaokaset-slide-container .preview-content .preview-content-contain p {
        margin-top: 7px;
        color: black;
        font-size: 1.5em;
        font-weight: 00;
        text-align: left; }
        .chaokaset-slide-container .preview-content .preview-content-contain p a {
          margin-left: 5px; }
  .chaokaset-slide-container .preview-button {
    height: 36%;
    padding: 10px 0px;
    background-color: white; }
    .chaokaset-slide-container .preview-button h1 {
      width: 100%;
      color: black;
      font-size: 2.5em;
      font-weight: 500;
      text-align: left; }
    .chaokaset-slide-container .preview-button p {
      color: black;
      font-size: 1.5em;
      font-weight: 00;
      text-align: left; }
  .chaokaset-slide-container .info-button {
    height: 150px;
    margin-top: 3%; }
    .chaokaset-slide-container .info-button .image-box {
      height: 100px;
      width: 100px; }
      .chaokaset-slide-container .info-button .image-box h2.val-box {
        padding-top: 20%;
        color: white;
        font-size: 2em;
        font-weight: 600; }
        .chaokaset-slide-container .info-button .image-box h2.val-box:hover {
          font-size: 3em; }
    .chaokaset-slide-container .info-button h2.mg-box {
      font-size: 1.5em;
      margin-top: 10px; }
    .chaokaset-slide-container .info-button .text {
      height: 30%; }
    .chaokaset-slide-container .info-button .font-box {
      margin-left: 28%;
      width: 50px;
      height: 50px; }
      .chaokaset-slide-container .info-button .font-box span.icon-box {
        font-size: 25px;
        color: white;
        line-height: 50px; }
        .chaokaset-slide-container .info-button .font-box span.icon-box:hover {
          font-size: 35px; }

@media (max-width: 990px) {
  .layer {
    top: 35% !important; }

  .chaokaset-main-search .search-plant {
    margin-left: 0%;
    width: 93%;
    height: 70px;
    padding-left: 20px;
    font-size: 3em; }

  .chaokaset-main-button-search {
    margin-top: 20px;
    width: 100%;
    height: 50px; }
    .chaokaset-main-button-search .button-search {
      font-size: 1.5em; } }
@media (min-width: 990px) {
  .chaokaset-main-search {
    margin-top: 20px;
    height: 60px; }
    .chaokaset-main-search .search-plant {
      padding-left: 15px;
      font-size: 23px;
      width: 50%;
      height: 100%; } }
.chaokaset-container-verticle {
  padding: 80px 40px;
  width: 100%; }
  .chaokaset-container-verticle p {
    font-size: 2em; }
  .chaokaset-container-verticle h1 {
    font-size: 3em; }
  .chaokaset-container-verticle h2 {
    font-size: 2.5em; }
  .chaokaset-container-verticle form {
    margin-top: 10px; }
  .chaokaset-container-verticle label, .chaokaset-container-verticle button, .chaokaset-container-verticle a {
    font-size: 1.3em; }
  .chaokaset-container-verticle input {
    height: 38px;
    font-size: 1.2em; }

.chaokaset-container-fixed {
  padding: 80px 40px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed; }
  .chaokaset-container-fixed p {
    font-size: 2em; }
  .chaokaset-container-fixed h1 {
    font-size: 3em; }
  .chaokaset-container-fixed h2 {
    font-size: 2.5em; }
  .chaokaset-container-fixed form {
    margin-top: 10px; }
  .chaokaset-container-fixed label, .chaokaset-container-fixed button, .chaokaset-container-fixed a {
    font-size: 1.3em; }
  .chaokaset-container-fixed input {
    height: 38px;
    font-size: 1.2em; }

/*# sourceMappingURL=chaokaset.css.map */
