//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #05B2D2;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
$gray: #bbbbbb;
* {
  font-family: 'Kanit', sans-serif;
}
h1,h2,h3{
  font-family: 'Kanit', sans-serif;
}
//--  Navigation --
.nav-brand-chaokaset{
  padding: 12px 15px;
  img{
    height: 0px;
  }
}

@media (min-width: 768px){
    .nav-brand-chaokaset{
      img{
        height: 48px;
      }
    }
    .chaokaset-nav{
      background-color: white;
      border-color: #FFFFFF;
      font-weight: 500;
      font-family: 'Kanit', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      padding: 0px 45px;
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -6px #222;
      .nav-content{
        >li>a {
          padding-top: 29px; //15
          padding-bottom: 23px; //15
          font-weight: 400;
          &:hover,
          &:focus {
            color: $green!important;
            outline: 0;
            background-color: white!important;
          }
        }
      }
      .nav-content-right{
        >li>a {
          padding-top: 29px; //15
          padding-bottom: 23px; //15
          font-weight: 400;
          &:hover,
          &:focus {
            color: $green!important;
            outline: 0;
            background-color: white!important;
          }
        }
      }
    }
//------ Button --------
// Basic Button Style
    .chaokaset-btn-border {
      margin-top: 13px;
      box-sizing: border-box;
      appearance: none;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid $red;
      color: $red;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      padding: 15px 25px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;

      &:hover,
      &:focus {
        color: #fff;
        outline: 0;
      }
    }
    //style
    .btn-style-one {
      border-radius: 3em;
      border-color: $blue;
      color: $blue;
      background: {
          image: linear-gradient(to bottom, transparent 50%, $blue 50%);
          position: 0 0;
          size: 200%;
      }
      transition: background 150ms ease-in-out, color 150ms ease-in-out;
      -webkit-transition: 150ms ease-in-out, color 150ms ease-in-out;
      &:hover {
        color: #fff;
        background-position: 0 100%;
      }
    }
    .btn-style-two {
      // background: $yellow;
      border-color: $green;
      color: $green;
      background: {
        image: linear-gradient(45deg,$green 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;
      -webkit-transition: 300ms ease-in-out;
      &:hover {
        background-position: 0;
      }
    }
}

//------ Main -----
.chaokaset-green-video{
  width: 100%;
  height: 100%;
  background-color: green;
}

.chaokaset-main-search{
  margin-top: 20px;
  width: 100%;
  height: 60px;
    .search-plant{
      padding-left: 15px;
      font-size: 23px;
      font-weight: 500;
      border-radius: 10px;
      color: #676767;
      background-color: white;
      width: 50%;
      outline: none;
      border-radius: 10px;
      border: 5px;
      border-color: transparent;
      height: 100%;
      &:hover{
        outline: none;
        border-radius: 10px;
        border: 5px solid;
        border-color: grey;
      }
      &:focus {
        outline: none;
        border-radius: 10px;
        border: 5px solid;
        border-color: #569FFF;
      }
    }
}
.chaokaset-main-button-search{
  margin-top: 20px;
  width: 100%;
  height: 50px;
    .button-search{
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: white;
      font-size: 18px;
      font-weight: 500;
      border: none;
      &:hover{
        background-color: white;
        color: $green;
        outline: none;
        border: 4px solid;
        border-color: $green;
      }
    }
}
.chaokaset-slide-container{
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  .slide-container-left{
    width: 70%;
    height: 100%;
    float: left;
    h1{
      color: #444444;
      float: left;
    }
  }
  .slide-container-right{
    width: 30%;
    height: 100%;
    float: left;
    h1{
      color: #444444;
      float: left;
    }
  }
}

//----- Text -------
.text-underline{
  text-decoration: underline;
}
