//--  Navigation --
.nav-brand-chaokaset{
  img{
    height: 0px;
  }
}
@media (min-width: 768px){
    .nav-brand-chaokaset{
      img{
        height: 48px;
      }
    }
    .chaokaset-nav{
      background-color: white;
      border-color: #FFFFFF;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
      padding: 0px 45px;
      .nav-content{
        >li>a {
          padding-top: 35px; //15
          padding-bottom: 20px; //15
        }
      }
      .nav-content-right{
        >li>a {
          padding-top: 35px; //15
          padding-bottom: 20px; //15
        }
      }
    }
}
