{{set . "title" "จัดการการเกษตร"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>จัดการการเกษตร</h1>
  </div>
  {{template "Management/sidebarmanagement.html" .}}
  <div class="col-sm-9 container-box" style="text-align: center;">
    <div class="col-sm-6">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">เกษตรกร</h2>
            <p class="card-text">การจัดการข้อมูลเกษตรกร</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/farmer/showfarmer'">ค้นหารายชื่อเกษตรกร</button>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/farmer/management'">จัดการข้อมูลเกษตรกร</button>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">แผนการเพาะปลูก</h2>
            <p class="card-text">การจัดการแผนการเพาะปลูก</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/showplan'">ค้นหาแผนการเพาะปลูก</button>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/management'">จัดการข้อมูลแผนการเพาะปลูก</button>
          </div>
      </div>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
