{{set . "title" "บัญชีการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
<!-- Modal -->
<div  ng-app="ChaokasetApp" ng-controller="AddAccount">
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="color-green">เพิ่มบัญชีการเพาะปลูก</h2>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-sm-12 container-box">
          <div class="col-sm-12 container-box-content" >
            <form ng-submit="AccountSubmit()" >
              <div class="info-plant-show">
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.TypeAccount" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>ประเภทการเก็บเงิน</label>
                    <select class="form-control" name="{{$field.Name}}" ng-model="TypeAccount" id="SelTypeAccount">
                       <option ng-repeat="typeaccount in TypeAccounts" ng-bind="typeaccount.Text" ng-value="typeaccount.Type"></option>
                    </select>
                  </div>
                  {{end}}
                </div>
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.Details" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>รายละเอียด</label>
                    <input type="text" class="form-control" placeholder="กรอกรายละเอียด" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="Details" required>
                    <span class="error">{{$field.Error}}</span>
                  </div>
                  {{end}}
                </div>
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.Price" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>จำนวนเงิน</label>
                    <input type="number" class="form-control" placeholder="กรอกจำนวนเงิน" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="Price" required>
                    <span class="error">{{$field.Error}}</span>
                  </div>
                  {{end}}
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">บันทึก</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', ['ngSanitize']);
  app.controller('AddAccount', function($scope, $http) {
    var idcrop = {{.cropdata.CropId}};
    var skipper = 0;
    $http.get(site_url+"/apiv1_0/accounts/"+idcrop+"/"+skipper)
    .then(function(response) {
      console.log(response.data.AccountDatas);
      $scope.accountdatas = response.data.AccountDatas;
    });
      $scope.GetAccounts = function(){
        alert('aaa');
        $http.get(site_url+"/apiv1_0/accounts/"+"idcrop"+"/"+skipper)
        .then(function(response) {
          console.log(response.data.AccountDatas);
          $scope.accountdatas = response.data.AccountDatas;
        });
      }
      $scope.TypeAccounts = [{Text: "รายรับ",Type: 1},{Text: "รายจ่าย",Type: 2}];
      $scope.AccountSubmit = function() {
        $scope.url = site_url+"/apiv1_0/saveaccount/";
        $scope.AccountSubmit = function() {
          var idtype = document.getElementById('SelTypeAccount').value;
          $http({
            method: 'POST',
            url: $scope.url+idcrop+"/"+idtype+"/"+$scope.Details+"/"+$scope.Price
          }).then(function(response) {
            //สำเร็จ
            $scope.accountdatas = response.data.AccountDatas;
          },function(response) {
            //ผิดพลาด
        });
        $('#myModal').modal('hide');
        }
      }
  });
</script>
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  {{template "Crops/headerCrop.html" .}}
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-5 name-header padding-left-no padding-right-no"><h2 class="color-green">บัญชีการเพาะปลูก</h2></div>
      <div class="col-sm-7 name-header padding-left-no padding-right-no">
        <div class="col-sm-4">
          <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">เพิ่มข้อมูล</button>
        </div>
        <div class="col-sm-8" style="padding: 0px;">
          <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหารายการบัญชี">
        </div>
      </div>
      <table class="table col-md-12">
        <thead class="box-thead-show">
          <tr>
            <th width="15%">วันที่</th>
            <th>ประเภท</th>
            <th width="25%">ชื่อรายการ</th>
            <th>จำนวนเงิน</th>
            <th>ยอดเงินรวม</th>
            <th>ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">
          <tr ng-repeat="acdata in accountdatas">
            <td ng-bind="acdata.Updated_at"></td>
            <td ng-bind="acdata.TypeAccount"></td>
            <td ng-bind="acdata.Detail"></td>
            <td class="color-red" ng-bind="acdata.Price"></td>
            <td></td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <!-- แสดง 10 รายการ -->
        <ul class="pager">
          <li class="pager-prev disabled"><a href="#">< ย้อนกลับ</a></li>
          <li class="pager-next"><a href="#" style="width: 110px">ต่อไป ></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>
{{template "Templates/footer.html" .}}
