{{set . "title" "เพิ่มข้อมูลการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader">
  <div class="col-sm-12 varticle-header-box">
    <h1>เพิ่มข้อมูลการเพาะปลูก</h1>
  </div>
  <div class="col-sm-12 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-5 name-header padding-left-no padding-right-no"><h2 class="color-green">บัญชีการเพาะปลูก</h2></div>
      <div class="col-sm-7 name-header padding-left-no padding-right-no">
        <div class="col-sm-4">
          <button type="button" name="button" class="btn btn-success">เพิ่มข้อมูล</button>
        </div>
        <div class="col-sm-8" style="padding: 0px;">
          <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหารายการบัญชี">
        </div>
      </div>
      <table class="table col-md-12">
        <thead class="box-thead-show">
          <tr>
            <th width="15%">วันที่</th>
            <th>ประเภท</th>
            <th width="25%">ชื่อรายการ</th>
            <th>จำนวนเงิน</th>
            <th>ยอดเงินรวม</th>
            <th>ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">
          <tr>
            <td>10 มี.ค. 59</td>
            <td>เมล็ดพันธุ์</td>
            <td>ซื้อเมล็ดพันธุ์</td>
            <td class="color-red">- 1500.00</td>
            <td>3,000.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
          <tr>
            <td>2 มี.ค. 59</td>
            <td>ค่าปุ๋ย</td>
            <td>ซื้อปุ๋ยอินทรี</td>
            <td class="color-red">- 500.00</td>
            <td>4,500.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>20 ก.พ. 59</td>
            <td>กู้เงิน</td>
            <td>กู้เงินจาก ธกส.</td>
            <td class="color-green">+ 5,000.00</td>
            <td>5,000.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <!-- แสดง 10 รายการ -->
        <ul class="pager">
          <li class="pager-prev disabled"><a href="#">< ย้อนกลับ</a></li>
          <li class="pager-next"><a href="#" style="width: 110px">ต่อไป ></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
