{{set . "title" "เพิ่มแปลงเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>เพิ่มแปลงเพาะปลูก</h1>
  </div>
  <div class="col-sm-12 container-box" ng-app="ChaokasetApp" ng-controller="NewCrop">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 padding-left-no padding-right-no name-header" style="padding-left: 0px;"><h2 class="color-green">ข้อมูลแผนการเพาะปลูก</h2></div>
      <form method="post" action="{{url "Plan.PostAddCropPlan"}}">
        <div class="info-plant-show">
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.PlanName" .}}
            <div class="form-group col-md-12 padding-left-no padding-right-no">
              <label>ชื่อแปลงเพาะปลูก</label>
              <input type="text" class="form-control" placeholder="กรอกชื่อแปลงเพาะปลูก" name="{{$field.Name}}" value="{{$field.Flash}}">
              <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.Seed" .}}
            <div class="form-group col-md-4 padding-left-no">
              <label>พืช</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseplant(plant,plant.PlantName)" ng-model="modplant">
                 <option ng-repeat="plant in plants" ng-bind="plant.PlantName" ng-value="plant.PlantId"></option>
              </select>
            </div>
            {{end}}
            {{with $field := field "plan.Seed" .}}
            <div class="form-group col-md-4 padding-right-no">
              <label>พันธุ์พืช</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseseed(seed)" ng-model="modseed">
                 <option ng-repeat="seed in seeds" ng-bind="seed.SeedName" ng-value="seed.SeedId"></option>
              </select>
            </div>
            {{end}}
            {{with $field := field "plan.Plant" .}}
            <div class="form-group col-md-4">
              <label>แผนการเพาะปลูก</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseplan(plan)" ng-model="modplan">
                 <option ng-repeat="plan in plans" ng-bind="plan.PlanName" ng-value="plan.PlanId"></option>
              </select>
            </div>
            {{end}}
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4 padding-left-no">
              <label>ประเภทของแผนการเพาะปลูก</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" disabled ng-model="modtypeplanname">
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4">
              <label>เริ่มต้นวันที่</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modstartdate">
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4 padding-right-no">
              <label>สิ้นสุดวันที่ (ตามแผน)</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" disabled ng-model="modenddate">
            </div>
            {{end}}
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4 padding-left-no">
              <label>ระยะเวลาทำการเพาะปลูก</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modduration">
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4">
              <label>ราคาผลผลิต ต่อ กิโลกรัม</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modprice">
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4 padding-right-no">
              <label>จำนวนผลผลิต ต่อ ไร่</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modproduct">
            </div>
            {{end}}
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-8 padding-left-no">
              <label>ที่อยู่แปลงเพาะปลูก</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-4 padding-right-no">
              <label>จังหวัด</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseplan(plan)" ng-model="modplan">
                 <option ng-repeat="plan in plans" ng-bind="plan.PlanName" ng-value="plan.PlanId"></option>
              </select>
            </div>
            {{end}}
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-6 padding-left-no">
              <label>อำเภอ</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseplan(plan)" ng-model="modplan">
                 <option ng-repeat="plan in plans" ng-bind="plan.PlanName" ng-value="plan.PlanId"></option>
              </select>
            </div>
            {{end}}
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-6 padding-right-no">
              <label>ตำบล</label>
              <select class="form-control" name="{{$field.Name}}" ng-change="chooseplan(plan)" ng-model="modplan">
                 <option ng-repeat="plan in plans" ng-bind="plan.PlanName" ng-value="plan.PlanId"></option>
              </select>
            </div>
            {{end}}
          </div>
        </div>
        <div style="width: 100%;text-align: center;">
          <button type="submit" class="btn btn-success">ตกลง</button>
          <button type="button" class="btn btn-danger">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', []);
  app.controller('NewCrop', function($scope,$http) {
     $scope.durationsplan = 0;
      $scope.NewPlanOption = true;
      $scope.PlanOption = false;
      $http.get(site_url+"/apiv1_0/plants/0")
      .then(function(response) {
        $scope.plants = response.data;
        $http.get(site_url+"/apiv1_0/seeds/0")
        .then(function(response) {
          $scope.seeds = response.data;
          $http.get(site_url+"/apiv1_0/plans/0")
          .then(function(response) {
            $scope.plans = response.data;
          });
        });
      });
      $scope.ShowNewPlanOption = function() {
          $scope.NewPlanOption = true
          $scope.PlanOption = false;
      }
      $scope.ShowPlanOption = function() {
          $scope.PlanOption = true
          $scope.NewPlanOption = false;
      }
      $scope.chooseplant = function(id,at) {
        $http.get("http://localhost:9000"+"/apiv1_0/seeds/0/"+$scope.modplant)
        .then(function(response) {
          $scope.seeds = response.data;
        });
      }
      $scope.chooseseed = function(id) {
        $http.get("http://localhost:9000"+"/apiv1_0/plans/"+$scope.modplant+"/"+$scope.modseed)
        .then(function(response) {
          $scope.plans = response.data;
        });
      }
      $scope.chooseplan = function(id) {

      }
  });
  app.directive('format', ['$filter', function ($filter) {
      return {
          require: '?ngModel',
          link: function (scope, elem, attrs, ctrl) {
              if (!ctrl) return;


              ctrl.$formatters.unshift(function (a) {
                  return $filter(attrs.format)(ctrl.$modelValue)
              });


              ctrl.$parsers.unshift(function (viewValue) {

            elem.priceFormat({
              prefix: '',
              centsSeparator: '.',
              thousandsSeparator: ','
          });

                  return elem[0].value;
              });
          }
      };
  }]);
</script>
{{template "Templates/footer.html" .}}
