{{set . "title" "ปฎิทินการเพาะปลูก"}}
{{template "Templates/headerCalendar.html" .}}
{{template "Templates/preloader.html" .}}
<div class="modal fade" id="CalendarActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h2 class="color-green" style="font-size: 20px;" id="IdActivityHeader"></h2>
     </div>
     <div class="modal-body">
       <div class="row">
         <div class="col-sm-12 container-box">
           <div class="col-sm-12 container-box-content" >
               <input type="hidden" name="name" ng-model="EditAccountId">
               <div class="info-plant-show">
                 <div class="form-grop col-md-12" style="padding: 0px;">
                   <div class="form-group col-md-12 padding-left-no padding-right-no">
                     <h2 style="font-size: 18px;">กิจกรรม</h2>
                     <p id="IdActivityDetail" style="font-size: 16px;margin-top: 10px;"></p>
                   </div>
                 </div>
               </div>
           </div>
         </div>
      </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-danger" onclick="CloseActivity()">ปิด</button>
       </form>
     </div>
   </div>
 </div>
</div>
</div>
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  {{template "Crops/headerCrop.html" .}}
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header padding-left-no padding-right-no"><h2 class="color-green">ปฎิทินการเพาะปลูก</h2></div>
      <div class="calendar-chaokaset">
          <div class="cal1"></div>
      <div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // Call this from the developer console and you can control both instances
  var calendars = {};

  $(document).ready( function() {
      // Assuming you've got the appropriate language files,
      // clndr will respect whatever moment's language is set to.
      // moment.locale('ru');
      var thmonth = new Array ("มกราคม","กุมภาพันธ์","มีนาคม",
      "เมษายน","พฤษภาคม","มิถุนายน", "กรกฎาคม","สิงหาคม","กันยายน",
      "ตุลาคม","พฤศจิกายน","ธันวาคม");
      var startcropdate = {{.cropdata.StartDate}}
      var res = startcropdate.split(" ");
      var stratcropmonth = thmonth.indexOf(res[1])+1;
      var endcropdate = {{.cropdata.EndDate}}
      var startMonth = moment(res[2]+"-"+stratcropmonth).format('YYYY-MM');
      var startDay = moment(startMonth+'-'+res[0],moment.ISO_8601)
      // Here's some magic to make sure the dates are happening this month.
      //alert(startDay);
      var thisMonth = moment().format('YYYY-MM');
      // Events to load into calendar

      var eventArray = new Array();
      var DayInArray;
      var EndDayInArray;
      {{range .planactivitydata}}
        DayInArray = startDay.add({{.StartDuration}}, 'day');
        var startdateformat = DayInArray.format('YYYY-MM-DD')
        EndDayInArray = startDay.add({{.EndDuration}}, 'day');
        var enddateformat = EndDayInArray.format('YYYY-MM-DD')
        eventArray.push({title: {{.Detail}},startDate: startdateformat,endDate: enddateformat,})
      {{end}}
      // The order of the click handlers is predictable. Direct click action
      // callbacks come first: click, nextMonth, previousMonth, nextYear,
      // previousYear, nextInterval, previousInterval, or today. Then
      // onMonthChange (if the month changed), inIntervalChange if the interval
      // has changed, and finally onYearChange (if the year changed).
      calendars.clndr1 = $('.cal1').clndr({
          events: eventArray,
          clickEvents: {
              click: function (target) {
                  console.log('Cal-1 clicked: ', target);
                  $('#CalendarActivity').modal('show');
                  var curentdate = target.date._i;
                  var res = curentdate.split("-");
                  var newdatecurrent = (parseInt(res[2]))+" "+thmonth[parseInt(res[1])-1]+" "+(parseInt(res[0])+543)
                  $('#IdActivityHeader').html('กิจกรรมวันที่ '+ newdatecurrent);
                  if(target.events.length == 0){
                    $('#IdActivityDetail').css("color","red");
                    $('#IdActivityDetail').html('ไม่มีกิจกรรมวันนี้ !');
                  }else{
                    $('#IdActivityDetail').css("color","#00b74e");
                    $('#IdActivityDetail').html(target.events[0].title);
                  }

              },
              today: function () {
                  console.log('Cal-1 today');
              },
              nextMonth: function () {
                  console.log('Cal-1 next month');
              },
              previousMonth: function () {
                  console.log('Cal-1 previous month');
              },
              onMonthChange: function () {
                  console.log('Cal-1 month changed');
              },
              nextYear: function () {
                  console.log('Cal-1 next year');
              },
              previousYear: function () {
                  console.log('Cal-1 previous year');
              },
              onYearChange: function () {
                  console.log('Cal-1 year changed');
              },
              nextInterval: function () {
                  console.log('Cal-1 next interval');
              },
              previousInterval: function () {
                  console.log('Cal-1 previous interval');
              },
              onIntervalChange: function () {
                  console.log('Cal-1 interval changed');
              }
          },
          multiDayEvents: {
              singleDay: 'date',
              endDate: 'endDate',
              startDate: 'startDate'
          },
          showAdjacentMonths: true,
          adjacentDaysChangeMonth: false
      });

      // Bind all clndrs to the left and right arrow keys
      $(document).keydown( function(e) {
          // Left arrow
          if (e.keyCode == 37) {
              calendars.clndr1.back();
              calendars.clndr2.back();
              calendars.clndr3.back();
          }

          // Right arrow
          if (e.keyCode == 39) {
              calendars.clndr1.forward();
              calendars.clndr2.forward();
              calendars.clndr3.forward();
          }
      });
  });
  function CloseActivity() {
    $('#CalendarActivity').modal('hide');
  }
</script>
{{template "Templates/footer.html" .}}
