{{set . "title" "ปฎิทินการเพาะปลูก"}}
{{template "Templates/headerCalendar.html" .}}
{{template "Templates/preloader.html" .}}

<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>ไร่หน้าหมู่บ้าน (นายดำรง อยู่ดี)</h1>
    <h2 style="color: grey; font-size: 16px;">ระยะเวลาปลูก 180 วัน / ผลผลิต 800 ต่อ 1 ไร่ / สิ้นสุด 18 สิงหาคม 2559</h2>
  </div>
  {{template "Crops/headerCrop.html" .}}
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header padding-left-no padding-right-no"><h2 class="color-green">ปฎิทินการเพาะปลูก</h2></div>
      <div class="calendar-chaokaset">
          <div class="cal1"></div>
          <div class="cal2">
          <script type="text/template" id="template-calendar">
              <div class="clndr-controls">
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="month"><%= intervalStart.format('M/DD') + ' &mdash; ' + intervalEnd.format('M/DD') %></div>
                  <div class="clndr-next-button">&rsaquo;</div>
              </div>
              <div class="clndr-grid">
                  <div class="days-of-the-week">
                  <% _.each(daysOfTheWeek, function(day) { %>
                      <div class="header-day"><%= day %></div>
                  <% }); %>
                      <div class="days">
                      <% _.each(days, function(day) { %>
                          <div class="<%= day.classes %>"><%= day.day %></div>
                      <% }); %>
                      </div>
                  </div>
              </div>
              <div class="clndr-today-button">Today</div>
          </script>
          </div>
          <div class="cal3">
          <script type="text/template" id="template-calendar-months">
              <div class="clndr-controls top">
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="clndr-next-button">&rsaquo;</div>
              </div>
              <div class="clearfix">
              <% _.each(months, function(cal) { %>
                  <div class="cal">
                      <div class="clndr-controls">
                          <div class="month"><%= cal.month.format('MMMM') %></div>
                      </div>
                      <div class="clndr-grid">
                          <div class="days-of-the-week">
                          <% _.each(daysOfTheWeek, function(day) { %>
                              <div class="header-day"><%= day %></div>
                          <% }); %>
                              <div class="days">
                              <% _.each(cal.days, function(day) { %>
                                  <div class="<%= day.classes %>"><%= day.day %></div>
                              <% }); %>
                              </div>
                          </div>
                      </div>
                  </div>
              <% }); %>
              </div>
              <div class="clndr-today-button">Today</div>
          </script>
          </div>
      <div>

    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
