{{set . "title" "แก้ไขแปลงเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<!-- Include Date Range Picker -->
<script src="/public/js/moment.js"></script>
<script type="text/javascript" src="/public/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>แก้ไขแปลงเพาะปลูก</h1>
  </div>
  <div class="col-sm-12 container-box" ng-app="ChaokasetApp" ng-controller="NewCrop">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 padding-left-no padding-right-no name-header" style="padding-left: 0px;"><h2 class="color-green">ข้อมูลแผนการเพาะปลูก</h2></div>
      <form method="post" action="{{url "Crops.PostEditCrop"}}">
        <input type="hidden" value="{{.cropdata.CropId.Hex }}" name="cropid">
        <div class="info-plant-show">
          <div class="form-grop col-md-12" style="padding: 0px;">
            <div class="form-group col-md-12 padding-left-no padding-right-no">
              <label>ชื่อแปลงเพาะปลูก</label>
              <input type="text" class="form-control" placeholder="กรอกชื่อแปลงเพาะปลูก" name="crop.CropName" value="{{.cropdata.CropName}}">
              <span class="error">{{.crop.CropName.Error}}</span>
            </div>
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            <div class="form-grop col-md-12" style="padding: 0px;">
              <div class="form-group col-md-4 padding-left-no">
                <label>ขนาดพื้นที่ (ไร่)</label>
                <input type="number" class="form-control" placeholder="กรอกขนาดพื้นที่ (ไร่)" name="crop.Rai" value=".cropdata.Rai" min="0">
              </div>
              <div class="form-group col-md-4">
                <label>ขนาดพื้นที่ (งาน)</label>
                <input type="number" class="form-control" placeholder="กรอกขนาดพื้นที่ (งาน)" name="crop.Ngarn" value=".cropdata.Ngarn" min="0" max="3">
              </div>
              <div class="form-group col-md-4 padding-right-no">
                <label>ขนาดพื้นที่ (ตารางวา)</label>
                <input type="number" class="form-control" placeholder="กรอกขนาดพื้นที่ (ตารางวา)" name="crop.Wah" value=".cropdata.Wah" min="0" max="100">
              </div>
            </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            <div class="form-group col-md-6 padding-left-no">
              <label>ราคาผลผลิต ต่อ กิโลกรัม</label>
              <input type="number" min="0"  placeholder="กรอกราคาผลผลิต" class="form-control" name="crop.Price" value=".cropdata.Price" ng-model="modprice">
            </div>
            <div class="form-group col-md-6 padding-right-no">
              <label>จำนวนผลผลิต ต่อ ไร่</label>
              <input type="number" min="0"  placeholder="กรอกจำนวนผลผลิต ต่อ ไร่" class="form-control" name="crop.Product" value=".cropdata.Product" ng-model="modproduct">
            </div>
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            <script type="text/javascript">
            var thmonth = new Array ("มกราคม","กุมภาพันธ์","มีนาคม",
            "เมษายน","พฤษภาคม","มิถุนายน", "กรกฎาคม","สิงหาคม","กันยายน",
            "ตุลาคม","พฤศจิกายน","ธันวาคม");
            function checkdate() {
              var a = $('input[name="crop.StartDate"]').val();
              var startday = moment(a,'DD MMMM YYYY');
              startday.add({{.plandata.Duration}},'days');
              var endDate = startday.format('D M YYYY');
              //$('input[name="crop.EndDate"]').val(startday.day() +" "+ thmonth[startday.month()-1] +" "+ startday.year());
              //var m = thmonth.indexOf(res[1]);
              var res = endDate.split(" ");
              $('input[name="crop.EndDateShow"]').val(res[0]+" "+thmonth[res[1]-1]+" "+res[2]);
              $('input[name="crop.EndDate"]').val(res[0]+" "+thmonth[res[1]-1]+" "+res[2]);
            }
            $(function() {
              $('input[name="crop.StartDate"]').daterangepicker({
                   locale: {
                        format: 'D MMMM YYYY',
                    },
                   singleDatePicker: true,
                   showDropdowns: true
               });
            });
            </script>
            {{with $field := field "crop.StartDate" .}}
            <div class="form-group col-md-6 padding-left-no">
              <label>เริ่มต้นวันที่</label>
              <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modstartdate" onchange="checkdate()">
            </div>
            {{end}}
            {{with $field := field "crop.EndDate" .}}
            <div class="form-group col-md-6 padding-right-no">
              <label>สิ้นสุดวันที่ (ตามแผน)</label>
              <input type="text" class="form-control" name="crop.EndDateShow" value="{{$field.Flash}}" disabled>
              <input type="hidden" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" ng-model="modenddate" onchange="checkdate()">
            </div>
            {{end}}
          </div>
        </div>
        <div style="width: 100%;text-align: center;">
          <button type="submit" class="btn btn-success">ตกลง</button>
          <button type="button" class="btn btn-danger" onclick="javascript:location.href='/crops'">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', []);
  app.controller('NewCrop', function($scope,$http) {

  });
</script>
{{template "Templates/footer.html" .}}
