{{set . "title" "จัดกการการเพาะปลูก"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-verticle">
  <div class="col-sm-6 varticle-header-box">
    <h1>จัดการการเพาะปลูก</h1>
  </div>
  <div class="col-sm-6 varticle-header-box">
    <div class="form-group">
      <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหาข้อมูลการเพาะปลูก">
    </div>
  </div>
    <div class="col-sm-12 container-box">
      <table class="table">
        <thead class="box-thead-show">
          <tr>
            <th width="10%">สถานะ</th>
            <th width="35%">ชื่อแปลง</th>
            <th width="15%">วันเริ่มต้น</th>
            <th width="15%">วันเก็บเกี่ยว</th>
            <th width="10%">ผู้สนใจ</th>
            <th width="10%">ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">
          <tr>
            <td class="color-yellow"><span class="status-ball bg-green"></span></td>
            <td class="color-green"><a href="/crops/cropmanagemane" class="name-crops">ไร่หน้าหมู่บ้าน (นายดำรง นะจ้ะ)</a></td>
            <td>3 มีนาคม 2559</td>
            <td>12 สิงหาคม 2559</td>
            <td>12 คน</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="color-yellow"><span class="status-ball bg-yellow"></span></td>
            <td class="color-green"><a href="#ไร่ดอยคำ" class="name-crops">ไร่ดอยคำ (นายดำรง นะจ้ะ)</a></td>
            <td>15 มีนาคม 2559</td>
            <td>15 สิงหาคม 2559</td>
            <td>28 คน</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
