{{set . "title" "จัดการแปลงเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  {{template "Crops/headerCrop.html" .}}
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content">
      <div class="col-sm-12 name-header"> <h2 class="color-green">ข้อมูลแปลงเพาะปลูก</h2></div>
        <form>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label>ชนิดพืช</label>
              <p>{{.cropdata.Plant}}</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label>พันธุ์พืช</label>
              <p>{{.cropdata.Seed}}</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label>แผนการเพาะปลูก</label>
              <p>{{.plandata.PlanName}}</p>
            </fieldset>
          </div>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label>ระยะเวลาปลูกเพาะปลูก</label>
              <p>{{.plandata.Duration}}</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label>วันที่เริ่ม</label>
              <p>{{.cropdata.StartDate}}</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label>วันที่สิ้นสุด</label>
              <p>{{.cropdata.EndDate}}</p>
            </fieldset>
          </div>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label>ขนาดพื้นที่</label>
              <p>{{.cropdata.Rai}} ไร่ {{.cropdata.Ngarn}} งาน {{.cropdata.Wah}} ตารางวา</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label>จำนวนผลผลิตต่อไร่</label>
              <p>{{.cropdata.Product}} กก.</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label>ประมาณผลผลิตทั้งหมด</label>
              <p>{{.cropdataproduct}} กก.</p>
            </fieldset>
          </div>
        </form>
      <div class="col-sm-12 name-header"><h2 class="color-green">ความก้าวหน้าการเพาะปลูก</h2></div>
      <form>
        <div class="info-plant-show col-sm-5">
          <fieldset class="form-group">
            <label>ภาพรวมบัญชี</label>
            <p class="color-green">{{.sumaccount}} บาท</p>
          </fieldset>
          <fieldset class="form-group">
            <label>ภาพรวมปัญหา</label>
            <p>{{.countproblem}} ปัญหา</p>
          </fieldset>
          <!--<fieldset class="form-group">
            <label>ภาพรวมชุมชน</label>
            <p>ลูกค้า 20 คน</p>
            <p>ผู้สนใจ 90 คน</p>
          </fieldset>-->
        </div>
        <div class="col-sm-7">
            <img src="/public/img/grow/rice/rice1.png" style="width: 300px;">
        </div>
      </form>

      <!--<div class="col-sm-12 name-header"><h2 class="color-green">ปฎิทินการเพาะปลูก</h2></div>-->

    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
