{{set . "title" "จัดกการการเพาะปลูก"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-verticle">
  <div class="col-sm-12 varticle-header-box">
    <h1>ไร่หน้าหมู่บ้าน (นายดำรง นะจ้ะ)</h1>
    <h2 style="color: grey; font-size: 16px;">ระยะเวลาปลูก 180 วัน / ผลผลิต 800 ต่อ 1 ไร่ / สิ้นสุด 18 สิงหาคม 2559</h2>
  </div>
  <div class="col-sm-12 report-data">

  </div>
  <div class="col-sm-3" style="padding: 0px;">
    <ul class="nav bd-sidenav" style="padding-top: 20px;">
        <li class="active bd-sidenav-active">
          <a href="/crops/management">จัดการการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/crops/account">บัญชีการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/crops/problem">ปัญหาการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/crops/product">จัดการผลผลิต</a>
        </li>
        <li class="">
          <a href="/crops/board">กระดานข้อความ</a>
        </li>
    </ul>
  </div>
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content">
      <div class="col-sm-12 name-header"><h2>ภาพรวม</h2></div>

      <div class="col-sm-12 name-header"><h2>ความก้าวหน้าการเพาะปลูก</h2></div>

      <div class="col-sm-12 name-header"><h2>ปฎิทินการเพาะปลูก</h2></div>


    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
