{{set . "title" "จัดกการการเพาะปลูก"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-verticle">
  <div class="col-sm-12 varticle-header-box">
    <h1>ไร่หน้าหมู่บ้าน (นายดำรง นะจ้ะ)</h1>
    <h2 style="color: grey; font-size: 16px;"> ระยะเวลาปลูก 180 วัน / ผลผลิต 800 ต่อ 1 ไร่ / สิ้นสุด 18 สิงหาคม 2559</h2>
  </div>
  <div class="col-sm-12 report-data">

  </div>
  <div class="col-sm-3" style="padding: 0px;">
    <ul class="nav bd-sidenav">
        <li class="active bd-sidenav-active">
          <a href="/components/buttons">จัดการการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/components/buttons">บัญชีการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/components/buttons">ปัญหาการเพาะปลูก</a>
        </li>
        <li class="">
          <a href="/components/buttons">กระดานข้อความ</a>
        </li>
    </ul>
  </div>
  <div class="col-sm-9">

  </div>
</div>
{{template "Templates/footer.html" .}}
