<div class="col-sm-3" style="padding: 0px;">
  <ul class="nav bd-sidenav" style="padding-top: 20px;">
      <li class="active bd-sidenav-active">
        <a href="/crops/management">จัดการการเพาะปลูก</a>
      </li>
      <li class="">
        <a href="/crops/calendar">ปฎิทินเพาะปลูก</a>
      </li>
      <li class="">
        <a href="/crops/account">บัญชีการเพาะปลูก</a>
      </li>
      <li class="">
        <a href="/crops/problem">ปัญหาการเพาะปลูก</a>
      </li>
      <li class="">
        <a href="/crops/product">จัดการผลผลิต</a>
      </li>
      <li class="">
        <a href="/crops/board">กระดานข้อความ</a>
      </li>
  </ul>
</div>
