{{set . "title" "หน้าหลัก"}}
{{template "Templates/header.html" .}}
<script type="text/javascript" src="/public/js/fullpagejs/fullpage.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				verticalCentered: true,
				sectionsColor: ['#8DDA52', '#fff', '#66CC00','#fff'],
				afterRender: function(){
					//playing the video
					$('video').get(0).play();
				}
			});
		});
	</script>

</head>
<body>
<div id="fullpage">
	<div class="section chaokaset-main-video" id="section0">
		<video autoplay loop muted id="myVideo">
			<source src="/public/img/rice_bg_video.mp4" type="video/mp4">
		</video>
		<div class="layer">
			<h1>ค้นหา</h1>
			<form action="index.html" method="post">
				<div class="chaokaset-main-search">
					<input type="text" name="smartsearch" class="search-plant" value="">
				</div>
				<div class="chaokaset-main-button-search">
					<button type="button" class="button-search">ค้นหาผลผลิต</button>
					<button type="button" class="button-search">ค้นหาเกษตรกร</button>
				</div>
			</form>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="slide" id="slide1">
			<div class="chaokaset-slide-container">
				<div class="slide-container-left">
						<div class="preview-header">
							<h1 class="text-underline">แนะนำ หอมมะลิ (กข.47)</h1>
						</div>
						<div class="preview-body">
							<div class="preview-body-left">
								<img src="/public/img/pic/rice3.png" alt="">
							</div>
							<div class="preview-body-right">

							</div>
						</div>
				</div>
				<!--<div class="slide-container-right">
					<h1>เมนู</h1>
				</div>-->
			</div>
		</div>
		<div class="slide" id="slide2"><h1>แสดงพืชโช 2</h1></div>
	</div>
	<div class="section" id="section2"><h1>ข้อมูลการเพาะปลูก <br />และการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกร</h1></div>
	<div class="section" id="section3"><h1>เกี่ยวกับแอปพลิเคชันชาวเกษตร</h1></div>
</div>

{{template "Templates/footer.html" .}}
