{{set . "title" "หน้าหลัก"}}
{{template "Templates/header.html" .}}
<script type="text/javascript" src="/public/js/fullpagejs/fullpage.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				verticalCentered: true,
				sectionsColor: ['#8DDA52', '#fff', '#66CC00','#fff'],
				afterRender: function(){
					//playing the video
					$('video').get(0).play();
				}
			});
		});
	</script>

</head>
<body>
<div id="fullpage">
	<div class="section chaokaset-main-video" id="section0">
		<video autoplay loop muted id="myVideo">
			<source src="/public/img/rice_bg_video.mp4" type="video/mp4">
		</video>
		<div class="layer">
			<h1>ค้นหา</h1>
			<form action="index.html" method="post">
				<div class="chaokaset-main-search">
					<input type="text" name="smartsearch" class="search-plant" value="">
				</div>
				<div class="chaokaset-main-button-search">
					<button type="button" class="button-search">ค้นหาผลผลิต</button>
					<button type="button" class="button-search">ค้นหาเกษตรกร</button>
				</div>
			</form>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="slide" id="slide1">
			<div class="col-md-12 chaokaset-slide-container">
					<div class="col-md-12 preview-showname-rice">
						<h1 class="text-underline">ข้าวไรซ์เบอร์รี่</h1>
					</div>
					<div class="col-md-5 preview-image">
							<img src="/public/img/pic/rice1.jpg" alt="">
					</div>
					<div class="col-md-7 preview-content">
						<div class="col-md-12 preview-content-contain">
							<h1>รายละเอียด</h1>
							<p>และการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกร<a href="#">ดูเพิ่มเติม</a></p>
						</div>
						<div class="col-md-12 preview-button">
							<h1>ตัวเลือก</h1>
							<div class="col-md-8 col-md-offset-2">
								<a href="">
									<div class="col-md-4 info-button" style="height: 100%;margin-top: 3%;">
										<img src="/public/img/pic/rice1.jpg" class="img-circle image-box">
										<h2>พร้อมจำหน่าย</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<img src="/public/img/pic/rice1.jpg" class="img-circle image-box">
										<h2>จอง</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<img src="/public/img/pic/rice1.jpg" class="img-circle image-box">
										<h2>เสนอซื้อ</h2>
									</div>
								</a>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="slide" id="slide2"><h1>แสดงพืชโช 2</h1></div>
	</div>
	<div class="section" id="section2"><h1>ข้อมูลการเพาะปลูก <br />และการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกร</h1></div>
	<div class="section" id="section3"><h1>เกี่ยวกับแอปพลิเคชันชาวเกษตร</h1></div>
</div>

{{template "Templates/footer.html" .}}
