{{set . "title" "ชุมชนชาวเกษตร"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>สังคมชาวเกษตร</h1>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-10">
      <input type="text" class="form-control searchsocial" placeholder="ค้นหารายชื่อ">
    </div>
    <div class="col-sm-2">
      <button type="button" name="button" class="btn btn-success">ค้นหารายชื่อ</button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-4 topic-chaokaset">
      <div class="col-sm-12 topic-chaokaset-content" >
        <img src="https://upload.wikimedia.org/wikipedia/th/5/53/Ricethailand.jpg" alt="" class="img-responsive">
        <div class="col-sm-12 name-header"><h2 class="color-green">กรมการข้าวจังหวัดกำแพงเพชร</h2></div>
        <button type="button" name="button" class="btn btn-success">พูดคุย</button>
      </div>
    </div>
    <div class="col-sm-4 topic-chaokaset">
      <div class="col-sm-12 topic-chaokaset-content" >
        <img src="https://upload.wikimedia.org/wikipedia/th/5/53/Ricethailand.jpg" alt="" class="img-responsive">
        <div class="col-sm-12 name-header"><h2 class="color-green">กรมการข้าวจังหวัดกำแพงเพชร</h2></div>
        <button type="button" name="button" class="btn btn-success">พูดคุย</button>
      </div>
    </div>
    <div class="col-sm-4 topic-chaokaset">
      <div class="col-sm-12 topic-chaokaset-content" >
        <img src="https://upload.wikimedia.org/wikipedia/th/5/53/Ricethailand.jpg" alt="" class="img-responsive">
        <div class="col-sm-12 name-header"><h2 class="color-green">กรมการข้าวจังหวัดกำแพงเพชร</h2></div>
        <button type="button" name="button" class="btn btn-success">พูดคุย</button>
      </div>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  $( "#notification-in-header" ).hide();
});
</script>
{{template "Templates/footer.html" .}}
