{{set . "title" "เพิ่มแผนการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>เพิ่มแผนการเพาะปลูก</h1>
  </div>
  <div class="col-sm-12 container-box" ng-app="ChaokasetApp" ng-controller="NewShowPlan">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 padding-left-no padding-right-no name-header" style="padding-left: 0px;"><h2 class="color-green">ข้อมูลแผนการเพาะปลูก</h2></div>
      <form method="post" action="{{url "Plan.PostAddCropPlan"}}">
        <div class="info-plant-show">
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.PlanName" .}}
            <div class="form-group col-md-12 padding-left-no padding-right-no">
              <label>ชื่อแผนการเพาะปลูก</label>
              <input type="text" class="form-control" placeholder="กรอกชื่อแผนการเพาะปลูก" name="{{$field.Name}}" value="{{$field.Flash}}">
              <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
          </div>
          {{with $field := field "plan.Plant" .}}
          <div class="form-grop col-md-12" style="padding: 0px;">
            <div class="form-group col-md-4 padding-left-no">
              <label>ชนิดพืช</label>
              <select class="form-control" name="{{$field.Name}}">
                 <option value="ข้าว">ข้าว</option>
               </select>
            </div>
            {{end}}
            {{with $field := field "plan.Seed" .}}
            <div class="form-group col-md-4">
              <label>พันธุ์พืช</label>
              <select class="form-control" name="{{$field.Name}}">
                 <option value="กข. 47">กข. 47</option>
               </select>
            </div>
            {{end}}
            {{with $field := field "plan.Duration" .}}
            <div class="form-group col-md-4 padding-right-no">
              <label>ระยะเวลาเพาะปลูก (วัน)</label>
              <input type="text" class="form-control" placeholder="กรอกระยะเวลาเพาะปลูก (วัน)" name="{{$field.Name}}" value="{{$field.Flash}}">
              <span class="error">{{$field.Error}}</span>
            </div>
          </div>
          {{end}}
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.Description" .}}
            <div class="form-group col-md-12 padding-left-no padding-right-no">
              <label>รายละเอียด</label>
              <textarea type="text" class="form-control" placeholder="กรอกชื่อแผนการเพาะปลูก" name="{{$field.Name}}" style="font-size: 20px;" value="{{$field.Flash}}"></textarea>
              <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
          </div>
          <div class="form-grop col-md-12" style="padding: 0px;">
            {{with $field := field "plan.TypePlanOption" .}}
            <div class="form-group col-md-12 padding-left-no padding-right-no">
              <label>ประเภทของแผนการเพาะปลูก</label>
              <div class="radio" style="margin: 0;">
                <label style="line-height: 45px;"><input type="radio" value="0" name="plan.TypePlan" ng-click="ShowNewPlanOption()" checked>แผนการเพาะปลูกใหม่</label>
                <label style="margin-left: 15px;line-height: 45px;"><input type="radio" value="1" name="plan.TypePlan" ng-click="ShowPlanOption()">แผนการเพาะปลูกต่อเนื่อง</label>
              </div>
            </div>
            {{end}}
          </div>
          <div class="col-sm-12 container-box-content" style="margin-top: 0px;margin-bottom: 10px;">
            <div class="col-sm-12 padding-left-no padding-right-no name-header" style="padding-left: 0px;"><h2 class="color-green">ข้อมูลแผนการเพาะปลูกใหม่</h2></div>
            <div class="form-grop col-md-12" style="padding: 0px;"  ng-show="PlanOption">
              {{with $field := field "plan.OldPlanId" .}}
              <div class="form-group col-md-6 padding-left-no">
                <label>แผนการเพาะปลูกเดิม</label>
                <select class="form-control" name="{{$field.Name}}">
                   <option value="34aabsc">ข้าว กข.47 (กรมการข้าว)</option>
                 </select>
              </div>
              {{end}}
            </div>
            <div class="form-grop col-md-12" style="padding: 0px;">
              {{with $field := field "plan.Owner" .}}
              <div class="form-group col-md-6 padding-left-no">
                <label>ชื่อเจ้าของแผนการเพาะปลูก</label>
                <input type="text" class="form-control" placeholder="กรอกชื่อเจ้าของแผนการเพาะปลูก" name="{{$field.Name}}" value="{{$field.Flash}}">
                <span class="error">{{$field.Error}}</span>
              </div>
              {{end}}
              {{with $field := field "plan.OwnerCompany" .}}
              <div class="form-group col-md-6 padding-right-no">
                <label>องค์กรเจ้าของแผนการเพาะปลูก</label>
                <input type="text" class="form-control" placeholder="กรอกชื่อองค์กรเจ้าของแผนการเพาะปลูก" name="{{$field.Name}}" value="{{$field.Flash}}">
                <span class="error">{{$field.Error}}</span>
              </div>
              {{end}}
            </div>
          </div>
        </div>
        <div style="width: 100%;text-align: center;">
          <button type="submit" class="btn btn-success">ตกลง</button>
          <button type="button" class="btn btn-danger">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', []);
  app.controller('NewShowPlan', function($scope) {
      $scope.NewPlanOption = true;
      $scope.PlanOption = false;
      $scope.ShowNewPlanOption = function() {
          $scope.NewPlanOption = true
          $scope.PlanOption = false;
      }
      $scope.ShowPlanOption = function() {
          $scope.PlanOption = true
          $scope.NewPlanOption = false;
      }

      $scope.PlanActivitys = [
        {
            'Id' : 'a1',
            'startdate': 0,
            'enddate': 20,
            'details':'เตรียมดิน'
        },
        {
            'Id' : 'a2',
            'startdate':10,
            'enddate':200,
            'details':'ตากดิน'
        },
        {
            'Id' : 'a3',
            'startdate':5000,
            'enddate':200,
            'details':'ตากดิน'
        }
        ];

        $scope.SaveNewActivity= function(PlanActivitys){
          if(PlanActivitys.startdate > PlanActivitys.enddate){
            alert('วันที่สิ้นสุดน้อยกว่าวันที่เริ่มต้น !')
            return 0;
          }
          else{
            $scope.PlanActivitys.push({
                  'Id': '2222aaa',
                  'startdate': PlanActivitys.startdate,
                  'enddate': PlanActivitys.enddate,
                  'details': PlanActivitys.details,
              });
              document.getElementById("IdStartDate").value = "";
              document.getElementById("IdEndDate").value = "";
              document.getElementById("IdDetails").value = "";
              $scope.PD = {};
              $scope.orderOptions = $scope.PlanActivitys.startdate;
          }
        }
        $scope.remove = function(IdRemover){
            //$scope.PlanActivitys.splice(1, 1);
            for (var i = 0; i < $scope.PlanActivitys.length; i++)
            if ($scope.PlanActivitys[i].Id && $scope.PlanActivitys[i].Id === IdRemover) {
                $scope.PlanActivitys.splice(i, 1);
                break;
            }
        };
  });
</script>
{{template "Templates/footer.html" .}}
