{{set . "title" "เพิ่มแผนการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>จัดการกิจกรรมการเพาะปลูก</h1>
  </div>
  <div class="col-sm-12 container-box" ng-app="ChaokasetApp" ng-controller="NewShowPlan">
          <div class="col-sm-12 padding-left-no padding-right-no name-header" style="padding-left: 0px;"><h2 class="color-green">กิจกรรมการเพาะปลูก : {{.plandata.PlanName}}</h2></div>
          <table class="table col-md-12">
            <thead class="box-thead-show">
              <tr>
                <th width="15%">เริ่มวันที่</th>
                <th width="15%">สิ้นสุดวันที่</th>
                <th width="55%">รายละเอียด</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>
            <tbody class="box-tbody-show">
              <tr>
                <form ng-submit="SaveNewActivity(PlanActivitys)">
                <td><input type="number" min="0" class="form-control" placeholder="เริ่มวันที่ (วัน)" ng-model="newstartdate" value="" id="IdStartDate" required></td>
                <td><input type="number" min="0" class="form-control" placeholder="สิ้นสุดวันที่ (วัน)" ng-model="newenddate" value="" id="IdEndDate" required></td>
                <td><input type="text" class="form-control" placeholder="รายละเอียด" ng-model="newdetail" value="" id="IdDetails" required></td>
                <td><button type="submit" class="btn btn-success">เพิ่มข้อมูล</button></td>
                </form>
              </tr>
              <tr ng-if="PlanActivitys" ng-repeat="PlanActivity in PlanActivitys | orderBy:'StartDuration'">
                <td ng-bind="PlanActivity.StartDuration">เริ่มวันที่</td>
                <td ng-bind="PlanActivity.EndDuration">สิ้นสุดวันที่</td>
                <td ng-bind="PlanActivity.Detail">รายละเอียด</td>
                <td><button type="button" name="button" class="btn btn-warning" style="margin-right: 5px;" ng-click="">ข้อมูล</button><button type="button" name="button" class="btn btn-danger" ng-click="remove(PlanActivity.PlanActivity)">ลบ</button></td>
              </tr>
              <tr ng-if="!PlanActivitys">
                <td colspan="4" style="text-align: center;">ไม่มีข้อมูล</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="width: 100%;text-align: center;">
          <button type="button" class="btn btn-success col-sm-4 col-sm-offset-4" onclick="javascript:location.href='/plan/showplan'">ตกลง</button>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var idplan = {{.plandata.PlanId}};
  var app = angular.module('ChaokasetApp', []);
  app.controller('NewShowPlan', function($scope,$http) {
        $http.get(site_url+"/apiv1_0/plan/getallactivity/"+idplan)
        .then(function(response) {
          $scope.PlanActivitys = response.data;
          console.log(response.data);
        });
        $scope.SaveNewActivity= function(PlanActivitys){
          if($scope.newstartdate > $scope.newenddate){
            alert('วันที่สิ้นสุดน้อยกว่าวันที่เริ่มต้น !')
            return 0;
          }
          else{
              $http({
              method: 'POST',
              url: site_url+"/apiv1_0/SavePlanActivity/"+idplan+"/"+$scope.newdetail+"/"+$scope.newstartdate+"/"+$scope.newenddate
              }).then(function(response) {
                $http.get(site_url+"/apiv1_0/plan/getallactivity/"+idplan)
                .then(function(response) {
                  $scope.PlanActivitys = response.data;
                });
              },function(response) {
              });
          }
        }
        $scope.remove = function(IdRemover){

        };
  });
</script>
{{template "Templates/footer.html" .}}
