{{set . "title" "เปลี่ยนรหัสผ่าน"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>เปลี่ยนรหัสผ่าน</h2>
      <span style="color:red;font-size: 15px;">{{.flash.error}}</span>
      <form method="post" action="{{url "Auth.PostChangePassword"}}">
        {{with $field := field "OldPassword" .}}
        <div class="form-group">
          <label>รหัสผ่านเดิม</label>
          <input type="password" class="form-control" placeholder="กรอกรหัสผ่านเดิม" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "NewPassword" .}}
        <div class="form-group">
          <label>รหัสผ่านไหม่</label>
          <input type="password" class="form-control" placeholder="กรอกรหัสผ่านไหม่" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "ValidNewPassword" .}}
        <div class="form-group">
          <label>ยืนยันรหัสผ่านไหม่อีกครั้ง</label>
          <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่านไหม่อีกครั้ง" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        <div class="col-xs-offset-2 col-sm-offset-4">
          <button type="submit" class="btn btn-success">ตกลง</button>
          <button type="button" class="btn btn-danger" onclick="javascript:location.href='/setting/user'">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
