{{set . "title" "แก้ไขข้อมูลสมาชิก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>แก้ไขข้อมูลสมาชิก <span style="color:red;font-size: 15px;">{{.flash.error}}</span></h2>
      <form method="post" action="{{url "Auth.PostRegister"}}">
        {{with $field := field "user.Name" .}}
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-6 padding-left-no">
            <label for="exampleInputEmail1">ชื่อ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกชื่อ" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
          {{end}}
          {{with $field := field "user.Lastname" .}}
          <div class="form-group col-md-6 padding-right-no">
            <label for="exampleInputEmail1">นามสกุล</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกนามสกุล" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
        </div>
        {{end}}
        {{with $field := field "user.Tel" .}}
        <div class="form-group">
          <label for="exampleInputEmail1">เบอร์โทรศัพท์</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกเบอร์โทรศัพท์" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Email" .}}
        <div class="form-group">
          <label for="exampleInputEmail1">อีเมล</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกอีเมล" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Address" .}}
        <div class="form-group">
          <label for="exampleInputEmail1">ที่อยู่</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกอีเมล" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Tumbon" .}}
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-6 padding-left-no">
            <label for="exampleInputEmail1">ตำบล</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกชื่อ" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
          {{end}}
          {{with $field := field "user.Aumphur" .}}
          <div class="form-group col-md-6 padding-right-no">
            <label for="exampleInputEmail1">อำเภอ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกนามสกุล" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
        </div>
        {{end}}
        {{with $field := field "user.Jungvad" .}}
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-6 padding-left-no">
            <label for="exampleInputEmail1">จังหวัด</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกชื่อ" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
          {{end}}
          {{with $field := field "user.JungvadCode" .}}
          <div class="form-group col-md-6 padding-right-no">
            <label for="exampleInputEmail1">รหัสไปรณีย์</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกนามสกุล" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
        </div>
        {{end}}
        <div class="col-xs-offset-2 col-sm-offset-4">
          <button type="submit" class="btn btn-default">ตกลง</button>
          <button type="submit" class="btn btn-default">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
